
<div id="header">
    <div class="container" style="width:1500px">
        <div id="welcomeLine" class="row">
            <div class="span6">Welcome! <strong>User</strong></div>
            <div class="span6">
                <div class="pull-right">
                    <a href="product_summary.html">
                        <span class="btn btn-mini btn-primary">
                            <i class="icon-shopping-cart icon-white"></i> [ 3 ] Items in your cart
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="index.html">
                    <img src="~/themes/images/logo.png" alt="Bootsshop" />
                </a>
                <form class="form-inline navbar-search" method="post" action="products.html">
                    <input id="srchFld" class="srchTxt" type="text" />
                    <select class="srchTxt">
                        <option>All</option>
                        <option>CLOTHES</option>
                        <option>FOOD AND BEVERAGES</option>
                        <option>HEALTH & BEAUTY</option>
                        <option>SPORTS & LEISURE</option>
                        <option>BOOKS & ENTERTAINMENTS</option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                </form>
                <ul id="topMenu" class="nav pull-right">
                    <li><a href="special_offer.html">Special Offer</a></li>
                    <li><a href="normal.html">Delivery</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <div class="dropdown">
                    <a class="dropbtn"><img src="/image/account.png" alt="Alternate Text" /></a>
                    <div class="dropdown-content">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" action="@Url.Action("Logout", "Account")">
                                <button type="submit" class="btn-large">Log out</button>
                            </form>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")" class="btn-large">Login</a>
                            <a href="@Url.Action("Signup", "Account")" class="btn-large">Sign Up</a>
                        }

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
