@model WebBanHang.ModelViews.SignUpVM

@{
    ViewData["Title"] = "Signup";
    Layout = null;
}

<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/image/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginAnimate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginSelect2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginUtil.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div class="login100-pic js-tilt" data-tilt>
                <img src="/image/img-01.png" alt="IMG">
            </div>

        <form asp-action="Signup">

                <span class="login100-form-title">
                    Member Sign Up
                </span>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                    <input asp-for="FullName" class="form-control input100" placeholder="FullName" autofocus="autofocus" style="transition:none" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                    <input asp-for="Email" class="form-control input100 validate-input" placeholder="Email" type="email" />
            </div>
                <span asp-validation-for="Email" class="text-danger"></span>
           
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control input100 validate-input" placeholder="PhoneNumber" type="number"/>
            </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            
                <div class="form-group">
                    <input asp-for="Password" class="form-control input100 validate-input" placeholder="Password" type="password" />
            </div>
                <span asp-validation-for="Password" class="text-danger"></span>
           
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control input100 validate-input" placeholder="ConfirmPassword" type="password" />
            </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>

<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/bootstrap/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/loginselect2.min.js"></script>
<script src="/js/loginTilt.jquery.min.js"></script>
<script src="/js/login.js"></script>