@model WebBanHang.ModelViews.SignUpVM

@{
    ViewData["Title"] = "Signup";
    Layout = null;
}

<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .text-danger{
        position: absolute;
        display: flex;
        z-index: 10;
        font-size: 10px;
        margin-right:-50px;
    }
    
</style>

<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/image/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginAnimate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginSelect2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loginUtil.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div class="login100-pic js-tilt" data-tilt>
                <img src="/image/img-01.png" alt="IMG">
            </div>

            <form asp-action="Signup">
                <div asp-validation-summary="ModelOnly" class="text-danger" style="position:absolute; display:flex; margin-top:-70px"></div>

                <span class="login100-form-title">
                    Member Sign Up
                </span>


                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="FullName" class="form-control input100" placeholder="FullName" autofocus="autofocus" style="transition:none" />
                </div>

                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Email" class="form-control input100 validate-input" placeholder="Email" type="email" />
                </div>

                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control input100 validate-input" placeholder="PhoneNumber" type="number" />
                </div>

                <span asp-validation-for="Address" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Address" class="form-control input100" placeholder="Address" data-val="true" data-val-required="The Address field is required." />
                </div>

                <span asp-validation-for="Birthday" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Birthday" class="form-control input100" type="date" placeholder="Birthday" data-val="true" data-val-required="The Birthday field is required." />
                </div>

                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="Password" class="form-control input100 validate-input" placeholder="Password" type="password" />
                </div>

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control input100 validate-input" placeholder="ConfirmPassword" type="password" />
                </div>


                <div class="form-group container-login100-form-btn">
                    <button type="submit" class="btn btn-primary login100-form-btn">
                        Create
                    </button>
                </div>

                <div class="text-center p-t-136" style="margin: -20px">
                    <a class="txt2" href="@Url.Action("Login", "Account")">
                        Login your account ?
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/bootstrap/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/loginselect2.min.js"></script>
<script src="/js/loginTilt.jquery.min.js"></script>
<script src="/js/login.js"></script>